{{ define "main" }}


<img src='my_front.jpg')>


<h1><a href='/about'><b>About me</b></a></h1>

<p>
A soil science researcher, I will commit myself to exploring soil organic carbon stocks on earth and their responses to the world change. <a href="about/">(more)</a>
</p>
<br/>


<h1><a href='/articles'><b>Featured publications</b></a></h1>

<div class="posts-list">
{{ with .Site.GetPage "/articles" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
           <div class="date"><b>{{ .PublishDate.Format "Jan. 2, 2006"}}</b>&nbsp;</div> 
               <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
                <a href="{{ .Permalink }}" title="{{ .Title }}">
                  {{ $image := .Page.Resources.GetMatch .Params.image }}
                  {{ with $image }}
                     {{ $thumb := .Resize "800x" }}
                     <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1><a href="/posts"><b>Field works and projects</b></a></h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>


<h1><a href="/life"><b>Leisure and Fun</b></a></h1>

<div class="image-grid">
{{ with .Site.GetPage "/life" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
          
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>
{{ end }}